<section class="contact-us-section" id="contact-us">
	<div class="bg-secondary py-5">
		<div class="container">
			<div
				class="row g-4">
				<!-- Left Info Section -->
				<div class="col-lg-6 d-flex flex-column justify-content-center text-center text-md-start">
					<h2 class="font-24 fw-bold text-primary" data-aos="fade-in">{{ 'Get in' | upper }}</h2>
					<p class="font-24 ps-3 text-white" data-aos="fade-in">{{ 'touch with us' | upper }}</p>

					<p class="font-16 text-white" data-aos="fade-in">Let's Tell Your Story.</p>

					<p class="font-16 text-white" data-aos="fade-in">Whether you're a brand, filmmaker, writer, or collaborator if you have a story to tell, we're listening.</p>

					<p class="font-16 text-white" data-aos="fade-in">Reach out to explore ideas, partnerships, or projects. No story left untold.</p>


					<div class="row" data-aos="fade-in">
						<div class="col-md-6 mb-2">
							<div class="d-flex align-items-center gap-2 font-16">
								<i class="fa-solid fa-map-location-dot text-primary"></i>
								<p class="m-0 text-primary">Mumbai</p>
							</div>
						</div>
						<div class="col-md-6 mb-2">
							<div class="d-flex align-items-center gap-2 font-16">
								<i class="fa-solid fa-phone text-primary"></i>
								<p class="m-0 text-primary">
									<a href="tel:+919967722710" class="text-primary">+91 99677 22710</a>
								</p>
							</div>
						</div>
						<div class="col-md-6 mb-2">
							<div class="d-flex align-items-center gap-2 font-16">
								<i class="fa-solid fa-envelope text-primary"></i>
								<p class="m-0 text-primary">
									<a href="mailto:hello@inkandframestudios.com" class="text-primary">hello@inkandframestudios.com</a>
								</p>
							</div>
						</div>
						<div class="col-md-6 mb-2">
							<div class="d-flex align-items-center gap-2 font-16">
								<i class="fa-solid fa-globe text-primary"></i>
								<p class="m-0 text-primary">
									<a href="https://www.inkandframestudios.com" class="text-primary" target="_blank" rel="noopener noreferrer">www.inkandframestudios.com</a>
								</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Contact Form Section -->
				<div class="col-lg-6" data-aos="fade-in">
					{{ form_start(contactForm, { attr: { class: 'needs-validation', novalidate: 'novalidate' } }) }}

					<div class="mb-3">
						{{ form_label(contactForm.name, 'Name', {'label_attr': {'class': 'form-label text-primary font-12'}}) }}
						{{ form_widget(contactForm.name, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(contactForm.name) }}
					</div>

					<div class="row">
						<div class="mb-3 col-6">
							{{ form_label(contactForm.email, 'Email', {'label_attr': {'class': 'form-label text-primary font-12'}}) }}
							{{ form_widget(contactForm.email, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(contactForm.email) }}
						</div>
						<div class="mb-3 col-6">
							{{ form_label(contactForm.phoneNo, 'Phone No', {'label_attr': {'class': 'form-label text-primary font-12'}}) }}
							{{ form_widget(contactForm.phoneNo, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(contactForm.phoneNo) }}
						</div>
					</div>

					<div class="mb-3">
						{{ form_label(contactForm.message, 'Message', {'label_attr': {'class': 'form-label text-primary font-12'}}) }}
						{{ form_widget(contactForm.message, {'attr': {'class': 'form-control', 'rows': '4'}}) }}
						{{ form_errors(contactForm.message) }}
					</div>

					<div class="mb-3">
						<button type="submit" class="btn btn-primary fw-bold text-black w-100">Submit</button>
					</div>

					{{ form_end(contactForm) }}
				</div>
			</div>
		</div>
	</div>
</section>
