<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


		<title>{{ meta_title|default('Default Site Title') }}</title>
		<meta name="description" content="{{ meta_description|default('Default site description.') }}">
		<meta
		name="keywords" content="{{ meta_keywords|default('default, keywords, here') }}">

		<!-- Open Graph -->
		<meta property="og:title" content="{{ meta_title|default('Default Site Title') }}">
		<meta property="og:description" content="{{ meta_description|default('Default site description.') }}">
		<meta property="og:image" content="{{ absolute_url(asset('images/logo.png')) }}">
		<meta property="og:url" content="{{ app.request.uri }}">
		<meta
		property="og:type" content="website">

		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="{{ meta_title|default('Default Site Title') }}">
		<meta name="twitter:description" content="{{ meta_description|default('Default site description.') }}">
		<meta
		name="twitter:image" content="{{ absolute_url(asset('images/logo.png')) }}">

		<!-- Author -->
		<meta name="author" content="Ink & Frame Studios">

		<meta name="robots" content="index, follow">


		<link rel="icon" href="{{ asset('images/logo.png') }}">
		{% block stylesheets %}
			<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>

			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

		{% endblock %}
	</head>
	<body>
		{% include 'header.html.twig' %}
		{% block body %}{% endblock %}
		{% include 'footer.html.twig' %}
	</body>
</html>
