<footer class=" bg-secondary text-white">
	<div class="container">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5">
			<div class="col mb-3 d-flex align-items-center ">
				<a class="navbar-brand d-flex justify-content-center align-items-center" href="{{ path('app_home') }}">
					<img src="{{ asset('images/logo.png') }}" width="180" class="d-inline-block align-top" alt="Ink And Frame Studios">
					<div class="d-flex flex-column justify-content-center text-white">
						<p class="m-0 font-20 fw-bold">Ink & Frame Studios</p>

						<small class="text-white font-12">no story left untold</small>
					</div>
				</a>

			</div>

			<div class="col mb-3"></div>

			<div class="col mb-3"></div>

			<div class="col mb-3"></div>

			<div class="col mb-3">
				<h5 class="">Menu</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="{{ path('app_home') }}" class="nav-link p-0">Home</a>
					</li>
					<li class="nav-item mb-2">
						<a href="{{ path('app_about_us') }}" class="nav-link p-0">About Us</a>
					</li>
					<li class="nav-item mb-2">
						<a href="{{ path('app_our_team') }}" class="nav-link p-0">Our Team</a>
					</li>
					<li class="nav-item mb-2">
						<a href="{{ path('app_our_services') }}" class="nav-link p-0">Our Services</a>
					</li>
					<li class="nav-item mb-2">
						<a href="#contact-us" class="nav-link p-0">Contact Us</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="border-top">
		<div class="d-flex flex-column flex-sm-row justify-content-between align-items-center py-2 container">
			<p class="m-0 font-12">© 2025 Company, Inc. All rights reserved.</p>
			<ul class="list-unstyled d-flex justify-content-end align-items-center w-50 m-0">
				<li class="ms-3">
					<a class="link-body-emphasis" href="" aria-label="facebook">
						<i class="fa-brands fa-facebook text-white"></i>
					</a>
				</li>
				<li class="ms-3">
					<a class="link-body-emphasis" href="https://www.instagram.com/inkandframestudios" aria-label="instagram">
						<i class="fa-brands fa-instagram text-white"></i>
					</li>
				</li>
			</ul>
		</div>

	</div>
</footer>
