{% extends 'base.html.twig' %}

{% block title %}
	{{ service.metaTitle }}
{% endblock %}
{% block meta_description %}
	{{ service.metaDescription }}
{% endblock %}
{% block meta_keywords %}
	{{ service.metaKeywords }}
{% endblock %}
{% block meta_author %}
	{{ service.metaAuthor }}
{% endblock %}
{% block meta_tags %}
	<!-- Other meta tags -->
	<meta property="og:title" content="{{ service.metaTitle }}"/>
	<meta property="og:description" content="{{ service.metaDescription }}"/>
	{# <meta property="og:image" content="{{ blog.getBlogImageDataUrl() }}"/> #}
	<meta property="og:url" content="{{ app.request.uri }}"/>
	<meta property="og:type" content="article"/>
	<!-- Other meta tags -->

	<!-- Other meta tags -->
	<meta name="twitter:card" content="summary_large_image"/> <meta name="twitter:title" content="{{ service.metaTitle }}"/>
	<meta name="twitter:description" content="{{ service.metaDescription }}"/>
	{# <meta name="twitter:image" content="{{ blog.getBlogImageDataUrl() }}"/> #}
	<meta name="twitter:url" content="{{ app.request.uri }}"/>
<!-- Other meta tags -->
{% endblock %}

{% block body %}
	<section class="header-services">
		<div class="d-flex justify-content-center align-items-center h-100">
			<h1 class="text-primary py-5" data-aoss="fade-in">{{ service.title }}</h1>
		</div>
	</section>

	<section class="bg-black py-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-9 col-md-6 col-sm-12">
					<div class="service-detail">
						<div class="text-white">{{ service.detailedDescription|raw }}</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 position-sticky top-0 py-5" style="height: 100vh; overflow-y: auto;">
                    <h3 class="text-primary">Other Services</h3>
                    {% for item in otherServices %}
                        <a href="{{ path('app_our_services_detail', {'slug': item.slug}) }}" class="text-decoration-none">
                            <div class="other-service d-flex align-items-center gap-3 border border-primary rounded-2 p-3 mb-3">
                                <i class="{{ item.icon }} fa-2x text-primary"></i>
                                <p class="text-white m-0">{{ item.title }}</p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
			</div>
		</div>
	</section>

	{{ include('home/contact.html.twig') }}

{% endblock %}
